[submodule "3rd/Penlight"]
	path = 3rd/Penlight
	url = https://github.com/lunarmodules/Penlight.git
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "3rd/lyaml"]
	path = 3rd/lyaml
	url = https://github.com/gvvaughan/lyaml.git
[submodule "3rd/libyaml"]
	path = 3rd/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "3rd/eansi-lua"]
	path = 3rd/eansi-lua
	url = https://github.com/smi11/eansi-lua
